@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
header {
	height: 100%;
	margin: 0;
	background-image: linear-gradient(to bottom right, rgb(72, 243, 109), rgb(53, 233, 92), rgb(44, 226, 83),rgb(46, 223, 84),rgb(185, 225, 70),rgb(185, 225, 70),rgb(185, 225, 70),rgb(17, 182, 52));
}
.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}

.btn{
  padding: 0.5rem 2rem;
  transition: all;
  transition-duration: 500ms;
}
.btn:hover{
  scale: 1.25;
}
.card-img-top{
  transition: all;
  transition-duration: 500ms;
}
.card-img-top:hover{
  scale: 1.20;
}

.header-bar { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}

.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
  size: 0.2%;
}
.input-number {
  width: 30px;

}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none ; 
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: rgb(44, 14, 114);
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
body ,.navbar,.offcanvas-body,.dropdown-menu,.card{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
	font-style: bold;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
}
main{
  padding-top: 10%;
}
form{
  color: black;
}
nav{
	position: relative;
	top: 10px;
	right: 0px;

}

nav li{
	display: inline;
	margin: 0 0 0 2%;
}
nav a{
	text-transform: uppercase;
	color: #4643c5;
	font-weight: bold;
	font-size: 1em;
}
nav a:hover{
	color: #678c19;
	text-decoration: underline;
  font-size: 2em;

}
p, h1, legend{
		color: orangered;
    font-style: bold;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1em;
}
.boton1, .boton2, .boton3 {
  padding: 0.6em 2em;
  font-style: bold;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #500808;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.boton2{
  color: black;
}
.boton3 {
  color: rgb(243, 7, 46);
}

.boton1:before, .boton2:before, .boton3::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.boton1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #940404;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.boton2:after{
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b37b03;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.boton3::after{
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  
  left: 0;
  top: 0;
  border-radius: 10px;
}

table{
  display: initial;
}
